{% extends 'polkin/base.html' %}
{% load staticfiles %}
{% block 'content' %}
<div 
    id="parallax-slider"
    class="parallax-slider">
    <ul class="baseList">
        <li
            data-preview="{% static 'polkin/images/11.jpg' %}" 
            data-thumb-url="{% static 'polkin/images/11.jpg' %}" 
            data-ulr-link="">
            <div class="slider_caption">
                <h2>
                    Консультации и лечение 
                </h2>
                <h2 class="type_2">
                    рака щитовидной железы
                </h2>
                <a class="popup-with-move-anim btn-primary" href="#small-dialog">
                    <div>
                        <i>Задать вопрос врачу</i>
                    </div>
                </a>
            </div>
        </li>
    </ul>
</div>
<div class="motopress-wrapper content-holder clearfix">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="row">
                    <div class="span6">
                        <section 
                            class="lazy-load-box trigger effect-slidefromleft"
                            style="-webkit-transition: all 900ms ease; -moz-transition: all 900ms ease; -ms-transition: all 900ms ease; -o-transition: all 900ms ease; transition: all 900ms ease;">
                           <a
                            href="{% url 'detail' slug='thyroid' %}"
                            class="svg_cat  service-box2">
                                <figure>
                                    <div class="svg_cat__svg_icon" >
                                        {% include 'polkin/svg/head_thyroid.svg' %}
                                    </div>
                                </figure>
                                <div
                                     class="service-box2_body">
                                     <h3
                                         class="title svg_cat__title">
                                            щитовидная железа
                                    </h3>
                                    <div class="service-box_txt svg_cat__text">
                                        Щитовидная железа у человека находится на передней поверхности шеи. Часто ее форму сравнивают с бабочкой, крылья которой, это правая и левая доли щитовидной железы, а соединяет их перешеек. 
                                    </div>
                                </div>
                           </a>
                        </section>
                    </div>
                    <div class="span6">
                        <section
                            class="lazy-load-box trigger effect-slidefromright"
                            style="-webkit-transition: all 900ms ease; -moz-transition: all 900ms ease; -ms-transition: all 900ms ease; -o-transition: all 900ms ease; transition: all 900ms ease;">
                           <a
                            href="{% url 'detail' slug='cancer' %}"
                            class="svg_cat service-box2">
                                <figure>
                                    <div class="svg_cat__svg_icon" >
                                        {% include 'polkin/svg/head.svg' %}
                                    </div>
                                </figure>
                                <div
                                     class="service-box2_body">
                                     <h3
                                         class="title svg_cat__title">
                                                опухоли головы и шеи
                                    </h3>
                                    <div class="service-box_txt svg_cat__text">
                                        К опухолям головы и шеи относят онкологические заболевания носа, рта, гортани, глотки, слюнных желез, придаточных пазух.
                                    </div>
                                </div>
                           </a>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="small-dialog" class="zoom-anim-dialog mfp-hide">
    <form class="main-holder wpcf7">
        <h2>Задать вопрос врачу</h2>
        <textarea 
            style="width: 100%"
            class=""
            placeholder="Tекст вопроса"></textarea>
        <div
            class="submit-wrap">
            <input
                 type="reset"
                 value="Очистить"
                 class="btn btn-primary"></input>
            <input 
                type="submit"
                 value="Отправить"
                 class="wpcf7-form-control wpcf7-submit btn btn-primary"></input>
         </div>
    </form>
</div>
{% endblock %}
