@import  'theme/bootstrap.css';
@import  'theme/responsive.css';

@import  'theme/cherry-plugin.css';
@import  'theme/styles.css';
@import  'theme/lazy-load.css';
@import  'theme/magnific-popup.css';
@import  'theme/style.css';
@import  'theme/main-style.css';

@import  'logo_info.css';
@import  'top_right_menu.css';
@import  'svg_cat.css';

#mainCaptionHolder {
    background: no-repeat 50% 50% / cover;
}
#topnav .mega-boler {
    border-color: #77c9b3;
    background: #77c9b3 !important;
    &:hover {
        background: transparent !important;
    }
    &:before {
        border-color: #77c9b3 !important;
    }
    i {
        color: #fff !important;
        
    }
}
#topnav .mega-boler:hover i {
            color: #77c9b3 !important;
        }