{% extends 'polkin/base.html' %}
{% load staticfiles %}
{% block 'content' %}
<div class="motopress-wrapper content-holder clearfix">
    <div class="container">
        <div class="row">
            <div class="span12">
                <section class="">
                    <h1 class="title-header">
                        {{ object.title }}
                    </h1>
                </section>
            </div>
        </div>
    </div>
</div>
<div class="motopress-wrapper content-holder clearfix">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="row">
                    <div class="span12">
                        {{ object.desc|safe }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
